<!--
This initialize the camera
-->

<launch>
  <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" />
  <node pkg="prostetic_hand" type="camera_node" name="camera_node" output="screen" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find prostetic_hand)/rviz/config_file.rviz" />
</launch>
